In [13]:
import pandas as pd

aircrash_data = pd.read_csv(r"C:\Users\essej\OneDrive\Documents\GitHub\Hamoye GIT\Air_Crashes_Project\Airplane_Crashes_and_Fatalities_Since_1908.csv")
aircrash_data.head()

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,07/12/1912,6:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
3,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...

In [14]:
aircrash_data.columns

Index(['Date', 'Time', 'Location', 'Operator', 'Flight #', 'Route', 'Type',
       'Registration', 'cn/In', 'Aboard', 'Fatalities', 'Ground', 'Summary'],
      dtype='object')

In [15]:
aircrash_data = aircrash_data.drop(['Flight #', 'Registration', 'cn/In', 'Route', 'Ground'], axis =1)
aircrash_data.head()

,Date,Time,Location,Operator,Type,Aboard,Fatalities,Summary
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,Wright Flyer III,2.0,1.0,"During a demonstration flight, a U.S. Army fly..."
1,07/12/1912,6:30,"AtlantiCity, New Jersey",Military - U.S. Navy,Dirigible,5.0,5.0,First U.S. dirigible Akron exploded just offsh...
2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,Curtiss seaplane,1.0,1.0,The first fatal airplane accident in Canada oc...
3,09/09/1913,18:30,Over the North Sea,Military - German Navy,Zeppelin L-1 (airship),20.0,14.0,The airship flew into a thunderstorm and encou...
4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,Zeppelin L-2 (airship),30.0,30.0,Hydrogen gas which was being vented was sucked...

In [16]:
aircrash_data.isnull().sum()

Date             4
Time          2124
Location        22
Operator        19
Type            29
Aboard          26
Fatalities      15
Summary        387
dtype: int64

In [17]:
aircrash_data.shape

(4489, 8)

In [18]:
aircrash_data[['Month','Day','Year']] = aircrash_data['Date'].str.split('/',
                                                            expand = True)
aircrash_data.insert(1, 'Month', aircrash_data.pop('Month'))
aircrash_data.insert(2, 'Day', aircrash_data.pop('Day'))
aircrash_data.insert(3, 'Year', aircrash_data.pop('Year'))
aircrash_data.columns

Index(['Date', 'Time', 'Location', 'Operator', 'Type', 'Aboard', 'Fatalities',
       'Summary', 'Month', 'Day', 'Year'],
      dtype='object')

In [21]:
aircrash_data = aircrash_data.dropna(axis=0,
                    subset=['Fatalities','Date',
                            'Aboard','Type', 
                            'Operator', 'Location', 
                            'Summary'])

SyntaxError: invalid syntax (<ipython-input-21-691f927fb93e>, line 3)